<tr>
      <br>
      <td><%= @computer.cpuUsage%></td>
      <br>
      <td><%= @computer.labRoom %></td>
      <br>
      <td><%= @computer.name %></td>
      <br>
      <td><%= @computer.used %></td>
      <br>
    </tr>
    <hr>
    <br><br>
    <br>