/*
==============================================
bigEntrance
==============================================
*/


.bigEntrance{
	margin-top: 0%;
	margin-left: 30%;
	position: relative;
	z-index: 0;
	width: 210px;
	height: 155px;
	background-attachment: fixed;
	background-position: center;	
	
	animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	

	animation-duration: 150s;	
	-webkit-animation-duration: 150s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;			
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(20deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	5% {
		transform: scale(1.03) rotate(-10deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	9% {
		transform: scale(0.98) rotate(5deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	18% {
		transform: scale(1.01) rotate(-5deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	35% {
		transform: scale(0.99) rotate(5deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	55% {
		transform: scale(1.01) rotate(-3deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(2deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	95% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}


